/*
    This is the media-queries css file for 
    the custom zoom in/out layout of assignment-theme.
*/

@media only screen and (min-width: 1200px) 
{
    .container 
    {
        max-width: 960px;
    }
}

@media only screen and (max-width: 975px) 
{
    #portfolio-wrapper,
    #homepage-wrapper 
    {
        -ms-grid-columns: 300px 300px;
        grid-template-columns: 300px 300px;
    }

    #portfolio-widget-wrapper 
    {
        -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    }

    #homepage-wrapper .homepage-wrapper-top 
    {
        grid-column: 1/3;
    }

    #portfolio-wrapper .portfolio-wrapper-top 
    {
        grid-column: 1/3;
    }

    #portfolio-wrapper .portfolio-wrapper-top .feature-button
    {
        display: inline-flex;
        float: right;
        justify-content: center;
    }
    #portfolio-wrapper .portfolio-wrapper-top hr 
    {
        margin: 80px 0 20px 0;
    }
    #blog-wrapper article .content .thumbnail img
    {
        height: 190px;
    }
}

@media only screen and (max-width: 992px) 
{
    #masthead #primary-menu 
    {
        margin: 0;
        padding: 0;
        display: inline-flex;
    }

    #masthead #primary-menu li 
    {
        float: left;
        margin: 10px 5px;
    }

}

@media only screen and (max-width: 768px) 
{
    #portfolio-widget-wrapper 
    {
        -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    }
}

@media only screen and (max-width: 752px) 
{
    #portfolio-wrapper,
    #homepage-wrapper 
    {
        -ms-grid-columns: 300px;
        grid-template-columns: 300px;
    }

    #homepage-wrapper .homepage-wrapper-top 
    {
        grid-column: 1/2;
    }

    #portfolio-wrapper .portfolio-wrapper-top 
    {
        grid-column: 1/2;
    }
    #homepage-wrapper hr.bar 
    {
        margin: 80px 0 20px 0;
    }
}

@media only screen and (max-width: 576px) 
{
    #blog-wrapper article .content .thumbnail img 
    {
        max-height: 300px;
        width: 100%;
    }

    #blog-wrapper article .content .para 
    {
        padding-left: 15px;
        padding-top: 30px;
    }

    #comments .comment-form-author,
    #comments .comment-form-email,
    #comments .comment-form-url 
    {
        width: 100%;
    }

    #comments .form-submit #submit 
    {
        float: left;
    }

}